.intro-article {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #fff;
  color: #000;

  .card-img {
    width: 100%;
  }
}

.css-jo3ec3 {
  background-color: transparent;
}

.card-content-featured {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 10px;
  &:hover {
    color: #585858;
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.card-relative {
  position: relative;
}

.button-center {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  bottom: -14px;
}

@media (max-width: 991px) {
  .intro-articles {
    display: none;
  }
}
