.single-article {
  .article-heading {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading-title {
      font-weight: 700;
      font-size: 57px;
      line-height: 72px;
      margin: 20px 0 28px;
      text-align: center;
    }

    .heading-subtitle {
      display: flex;
      align-items: center;
      .date-and-author {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;

        span {
          border-left: 2px solid #000;
          border-right: 2px solid #000;
          padding: 0 15px;
          margin: 0 15px;
        }
      }
    }
  }

  .article-slider {
    margin: 60px 0 0 0;
    .slider-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 500px;
      position: relative;
      overflow: hidden;

      .slider-img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
    .swiper-wrapper {
      margin-bottom: 35px;
    }
  }

  .article-body {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
    p {
      margin: 40px 0;
      font-weight: 300;
      font-size: 20px;
      line-height: 32px;
    }
    img {
      width: 100%;
      &:not(:first-of-type) {
        margin-bottom: 20px;
      }
    }
    .photographer {
      font-style: italic;
      font-weight: 300;
      font-size: 19px;
      line-height: 32px;
      span {
        border-bottom: 1px solid #000000;
      }
    }
  }

  .article-author {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .author-photo {
      box-shadow: -10px 10px #000;
      display: block;
    }
    .author-bio {
      max-width: 540px;
      position: relative;
      margin-bottom: 50px;
      &::before,
      &::after {
        content: '';
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        position: absolute;
      }
      &::before {
        content: '';
        background-image: url('./../../assets/corner-decoration-top-left.svg');
        left: 0;
        top: 0;
      }

      &::after {
        content: '';
        background-image: url('./../../assets/corner-decoration-bottom-right.svg');
        right: 0;
        bottom: 0;
      }

      p {
        padding: 42px;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
      }
    }
  }
}

.favorite-icon {
  color: #000000;
  padding: 0;
  &:hover,
  &:active {
    background: none;
  }
}

@media (max-width: 991px) {
  .single-article {
    .article-heading {
      .heading-title {
        font-size: 42px;
        line-height: 48px;
      }
    }
  }
}

@media (max-width: 700px) {
  .single-article {
    .article-heading {
      .heading-title {
        font-size: 35px;
        line-height: 40px;
      }

      .heading-subtitle {
        .date-and-author {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    .article-body {
      p {
        font-size: 16px;
        line-height: 20px;
      }

      .photographer {
        font-size: 16px;
        line-height: 20px;
      }
    }

    .article-author {
      .author-bio {
        p {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
  .single-article .article-slider {
    .slider-slide {
      height: 300px;
    }
  }
}

@media (max-width: 425px) {
  .single-article {
    .article-heading {
      .heading-title {
        font-size: 22px;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: 350px) {
  .single-article {
    .article-heading {
      .heading-title {
        font-size: 25px;
        line-height: 30px;
      }
      .heading-subtitle {
        .date-and-author {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}
