.single-article {
  .article-heading {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading-title {
      font-weight: 700;
      font-size: 57px;
      line-height: 72px;
      margin: 20px 0 28px;
      text-align: center;
    }

    .decorative-line {
      border-top: 2px solid #000;
      height: 13px;
      width: 100%;
      margin: 10px 0 25px;
      .center {
        display: flex;
        justify-content: center;
        img {
          position: relative;
          top: -10px;
        }
      }
    }

    .date-and-author {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;

      span {
        border-left: 2px solid #000;
        padding-left: 5px;
      }
    }
  }
}
