.category-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 16px;
  border: 1px solid #000;
  box-shadow: -5px 5px #000;
  display: block;
  width: fit-content;
  background-color: #fff;

  &:hover {
    color: #585858;
  }
}
