.team {
  .team-member-card {
    display: flex;
    margin-bottom: 50px;

    .card-photo {
      img {
        height: 100px;
        width: 100px;
      }
    }
    .card-description {
      font-size: 20px;
      margin-left: 30px;
      .name {
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p {
        font-weight: 300;
        line-height: 32px;
      }
    }
  }
}

@media (max-width: 700px) {
  .team {
    .team-member-card {
      .card-description {
        font-size: 18px;
        .name {
          line-height: 22px;
        }
        p {
          line-height: 26px;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .team {
    .team-member-card {
      flex-direction: column;

      .card-description {
        font-size: 16px;
        margin-left: 0;
        .name {
          line-height: 26px;
          margin-bottom: 10px;
          margin-top: 10px;
        }
        p {
          line-height: 24px;
        }
      }
    }
  }
}
