.general-info {
  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .general-info {
    p {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 560px) {
  .general-info {
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
