.favorites__card {
  border-radius: 0;
  .favorites__img {
    max-height: 230px;
  }
  .favorites__card-content {
    padding: 0;
    padding: 0 8px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .favorites__title {
      font-size: 21px;
      font-weight: 700;
    }
    .favorites__description {
      font-size: 14px;
      margin-top: 8px;
      color: #7d7d7d;
    }
  }

  &:hover .favorites__title {
    color: #757575;
    transition: all ease-in-out 0.3s;
  }
}
