.main-header {
  box-shadow: 1px 5px 5px rgba(143, 143, 143, 0.08);
}

.main-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.MuiInput-input {
  box-sizing: border-box;
  padding: 4px;
  height: 100%;
}
