.main-header {
  box-shadow: 1px 5px 5px rgba(143, 143, 143, 0.08);
}

.main-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .main-header__actions {
    display: flex;
    .main-header__favorite-icon {
      color: #434343;
      margin-left: 15px;
      cursor: pointer;
      position: relative;
      &:hover {
        color: #000;
      }

      .icon {
        font-size: 30px;
      }

      .counter {
        position: absolute;
        color: #ffffff;
        font-size: 13px;
        left: 50%;
        top: 44%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.MuiInput-input {
  box-sizing: border-box;
  padding: 4px;
  height: 100%;
}
