.main-header {
  box-shadow: 1px 5px 5px rgba(143, 143, 143, 0.08);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 20;
}

.main-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 20px 0;
  height: 90px;

  .main-header__actions {
    display: flex;
    width: 15%;
    justify-content: flex-end;
    .main-header__favorite-icon {
      color: #434343;
      margin-left: 15px;
      cursor: pointer;
      position: relative;
      &:hover {
        color: #000;
      }

      .icon {
        font-size: 30px;
      }

      .counter {
        position: absolute;
        color: #ffffff;
        font-size: 13px;
        left: 50%;
        top: 44%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.MuiInput-input {
  box-sizing: border-box;
  padding: 4px;
  height: 100%;
}

@media (max-width: 991px) {
  .main-header__inner {
    .main-header__actions {
      width: 25%;
    }
  }
}

@media (max-width: 620px) {
  .main-header__inner {
    .main-header__actions {
      width: 35%;
    }
  }
}

@media (max-width: 560px) {
  .main-header__inner {
    .main-header__actions {
      width: 30%;
    }
  }
}
