.about-us {
  h2 {
    font-size: 30px;
    line-height: 34px;
    margin: 60px 0;
    font-weight: 500;
    span {
      font-weight: 700;
    }
  }
}

.container {
  max-width: 85%;
  margin: 0 auto;
}
